<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<div style="text-align: center;">
<div style="display: inline-block; text-align:left">

<h1>welcome to<br>
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !!
</h1>

<br>
In <span style="font-weight:bold; "><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</span>,

<br>
<br>
you can share and exchange your opinions , inpressions , and<br> emotions

<br>
<br>
about various books!
<br>
<br>



 <%= link_to 'Log in', new_user_session_path, class: "btn  btn-primary w-100"%><br>
 <%= link_to 'Sign up', new_user_registration_path ,class: "btn btn-success w-100"%>


</div>
</div>

